* {
  box-sizing: border-box;
}

$black: black;
$white: white;
$metallicBlack: rgb(55, 50, 54);
$metallicWhite: silver;
$oliveGreen: rgb(113, 108, 89);
$displayGlass: rgb(29, 30, 24);
$displayLedBackground: rgba(78, 78, 39, 0.2);
$displayLedForeground: rgb(125, 255, 0);
$skeranpassadBackground: yellow;
$skeranpassadForeground: $black;

$borderWidth: 0.15em;

.dart380 {
    background-color: $oliveGreen;

    margin-left: auto;
    margin-right: auto;

    font-weight: bolder;
    font-family: Arial;
    color: $white;

    border-radius: 0.5em;

    display: flex;

    max-width: 70em;

    /* #### Mobile Phones Portrait #### */
    @media screen and (max-device-width: 480px) and (orientation: portrait){
    	zoom: 0.8;
    }
    /* #### Mobile Phones Landscape #### */
    @media screen and (max-device-width: 640px) and (orientation: landscape){
        zoom: 0.8;
    }
    /* #### Mobile Phones Portrait or Landscape #### */
    @media screen and (max-device-width: 640px){
        zoom: 0.8;
    }
    /* #### iPhone 4+ Portrait or Landscape #### */
    @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
        zoom: 0.7;
    }
    @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and(orientation: landscape) {
        zoom: 0.6;
    }
    /* #### iPhone 5 Portrait or Landscape #### */
    @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
        zoom: 0.8;
    }
    /* #### iPhone 6 and 6 plus Portrait or Landscape #### */
    @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
        zoom: 0.8;
    }
    @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) and(orientation: portrait) {
        zoom: 0.7;
    }
    /* #### Tablets Portrait or Landscape #### */
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
        zoom: 0.7;
    }
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and(orientation: portrait) {
        zoom: 0.5;
    }
    /* #### Desktops #### */
    @media screen and (min-width: 1024px){
        zoom: 0.9;
    }

    .dart380-connections {
       background-color: $black;
       width: 4em;
    }

    .panel, &.panel {
        border-radius: 0.5em;
        padding: 0.5em;
    }

    .mid {
        padding: 0.5em;
        margin: 0.5em;
        width: 59em;
    }

    .right {
        background-color: darken($oliveGreen, 5%);
        border: 0.2em solid $metallicBlack;
        border-right: none;
        border-top-left-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
        margin-left: 0.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-right: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .switches {
            margin-top: auto;
            background-color: darken($metallicBlack, 1%);
            border-radius: 0.5em;
            padding: 0.5em;
            height: 37em;

            .switch {
                position: relative;
                height: 10em;

                p {
                    text-align: center;
                }

                &:before {
                    position: absolute;
                    height: 6em;
                    width: 6em;
                    border: 1px dotted white;
                    border-radius: 50%;
                    top: 2em;
                    left: 1.2em;
                }

                label {
                    font-size: 0.6em;
                    position: absolute;
                    cursor: pointer;

                    &:hover {
                        color: yellow;
                        text-decoration: underline;
                    }

                    input[type=radio] {
                        display: block;
                        opacity: 0;
                    }
                }

                .knob {
                    position: absolute;
                    top: 0.5em;
                    width: 9em;
                    height: 10em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                svg {
                    cursor: pointer;
                    width: 100;
                    height: 100;

                    .base { fill: darken($oliveGreen, 10%); }
                    .handle { fill: $oliveGreen; }
                    .screw { fill: darken($metallicBlack, 10%); }
                    .marker { fill: darken($white, 10%); }

                    &:hover {
                        .base { fill: lighten($oliveGreen, 10%); }
                    }

                    &.value-1 { transform: rotate(-125deg); }
                    &.value-2 { transform: rotate(-90deg); }
                    &.value-3 { transform: rotate(-55deg); }
                    &.value-4 { transform: rotate(-20deg); }
                    &.value-5 { transform: rotate(15deg); }
                    &.value-6 { transform: rotate(55deg); }
                    &.value-7 { transform: rotate(90deg); }
                    &.value-8 { transform: rotate(125deg); }
                }

                label:nth-child(1) { top: 10em; left: 2em; }
                label:nth-child(2) { top: 6em; left: 1em; }
                label:nth-child(3) { top: 3em; left: 2em; }
                label:nth-child(4) { top: 0.8em; left: 5em; }
                label:nth-child(5) { top: 0.8em; left: 8.5em; }
                label:nth-child(6) { top: 3em; left: 11.5em; }
                label:nth-child(7) { top: 6em; left: 12.5em; }
                label:nth-child(8) { top: 10em; left: 11.5em; }

                &:nth-child(2) { // MOD
                    label:nth-child(1) { left: 1.5em; } // FR
                    label:nth-child(2) { left: 0.4em; } // TE
                    label:nth-child(3) { top: 2.5em; left: 0; } // KLAR
                    label:nth-child(4) { top: 0.5em; left: 2.5em; } // SKYDD
                    label:nth-child(5) { top: 0.5em; left: 7.5em; } // D RELÄ

                    label:nth-child(3), // KLAR
                    label:nth-child(4), // SKYDD
                    label:nth-child(5) { // D RELÄ
                        span {
                            position: relative;
                            &:after {
                                position: absolute;
                                content: '*';
                                top: 1em;
                                right: 0.5em;
                                color: $white;
                            }
                        }
                    }

                    label:nth-child(5) {
                        span:after {
                            right: 2.5em;
                         }
                    }
                }
            }
        }
    }

    .top-row {
        display: flex;
        height: 7em;

        > .item-identification {
            background-color: $metallicBlack;
            width: 20em;
            height: 100%;
            position: relative;
            padding: 0.5em;

            > p.skeranpassad {
                position: absolute;
                background-color: $skeranpassadBackground;
                color: $skeranpassadForeground;
                border-radius: 0.25em;
                font-size: 1em;
                padding: 0.5em;

                transform: rotate(-5deg);
                top: 1.5em;
                left: 0.8em;
            }

            > p.device-name {
                font-size: 1.3em;
                margin-top: 0;
            }

            > p.ericsson {
                position: absolute;
                bottom: -0.5em;
                right: 2em;
                font-size: 0.9em;
            }

            .ericsson-logo {
                position: relative;
            }

            .ericsson-logo-1st-bar,
            .ericsson-logo-2nd-bar,
            .ericsson-logo-3rd-bar {
                position: absolute;
                bottom: 1em;
                right: 0.5em;
                height: 0.1em;
                width: 0.8em;
                border: 0.15em solid $white;
                border-radius: 0.25em;
                background-color: $white;
                content: " ";
                transform: rotate(-10deg);
            }
            .ericsson-logo-1st-bar { bottom: 1.5em; }
            .ericsson-logo-2nd-bar { bottom: 1em; }
            .ericsson-logo-3rd-bar { bottom: 0.50em; }
        }

        > .display-container {
            display: flex;
            background-color: $displayGlass;
            height: 100%;
            width: 100%;
            margin-left: 1em;

            > .display {
                margin: 1em;

                &.display-large { flex-grow: 2; }
                &.display-small { flex-grow: 1; }

                > .text {
                    color: $displayLedForeground;
                    font-size: 2em;
                    font-family: "Light LED Board-7", monospace;
                    margin: 0;
                    text-align: center;
                    background-color: $displayLedBackground;
                    min-height: 1.5em;
                }

                > .name {
                    width: 100%;
                    border-top: $borderWidth solid $white;
                    color: $white;
                    text-align: center;
                    margin: 0;
                    margin-top: 0.3em;
                    padding: 0.3em;
                }
            }
        }
    }

    .keyboard {
        background-color: $metallicBlack;
        margin-top: 1em;

        button {
            background-color: $metallicBlack;
            border: $borderWidth $black solid;
            border-radius: 0.5em;
            color: $white;
            font-size: 1.2em;
            font-weight: bold;
            width: 3em;
            height: 3em;
            margin: 0.3em;
            z-index: 1000;
            cursor: pointer;
            outline: none;

            &:hover, &.active {
                color: darken($white, 10%);
                background-color: darken($metallicBlack, 10%);
            }

            .dart380-btn-sun, .dart380-btn-star {
                position: relative;
                &:before {
                    position: absolute;
                }

                &.dart380-btn-star:before {
                    content: "*";
                    font-size: 3em;
                    top: -0.25em;
                    left: -0.15em;
                }

                &.dart380-btn-sun:before {
                    content: "\00a4";
                    font-size: 3.5em;
                    top: -0.4em;
                    left: -0.22em;
                }
            }

            &.btn-4 {
                width: 14.5em;
            }
        }

        .top-section {
            display: flex;

            .function-keys {
                width: 45%;

                .show-message {
                    position: relative;
                    margin-top: 0;
                    border: $borderWidth $white solid;
                    border-radius: 0.5em;
                    text-align: center;

                    > p {
                        margin: 0.3em;
                    }
                }

                .write-plane {
                    height: 4.5em;
                    width: 80%;
                }
            }
            .radio-keys {
                width: 55%;
                display: flex;
                position: relative;

                &:before {
                    position: absolute;
                    content: " ";
                    width: 100%;
                    height: 100%;
                    left: -1.5em;
                    border-bottom-left-radius: 0.5em;
                    border-left: $borderWidth solid $white;
                    border-bottom: $borderWidth solid $white;
                    z-index: 999;
                }
            }

            .operation-keys {
                width: 50%;
                padding-left: 0.5em;
                padding-right: 0.5em;
                z-index: 1000;

                .write-plane {
                    height: 9em;
                    width: 13.5em;
                }
            }
            .numeric-keys {
                width: 50%;
                text-align: center;
                z-index: 1000;

                .reset {
                    color: $white;
                    position: relative;

                    &:before, &:after {
                        position: absolute;
                        content: " ";
                        top: 0;
                        height: 0.5em;
                        width: 1.5em;
                        border: $borderWidth solid $white;
                    }

                    &:before {
                        left: -2.7em;
                        border-right: none;
                        border-top: none;
                    }

                    &:after {
                        right: -2.7em;
                        border-left: none;
                        border-top: none;
                    }
                }
            }

            .write-plane {
                background-color: $metallicWhite;
                margin: $borderWidth;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            margin-top: 0.3em;
            padding: 0;

            &.keys > li { vertical-align: top; }

            ul {
                display: inline-block;
            }

            >li {
                display: inline-block;
                margin: 0;
            }
        }

        .qwerty {
            margin-top: 2em;

            ul.indent-half-key { margin-left: 2.5em; }
            ul.indent-one-key { margin-left: 4.6em; }

        } // .qwerty

    } // .keyboard

} // .dart380
